<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>260982386941-tmth75vclvtakm1hsa74m96c49ee7p3r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.260982386941-tmth75vclvtakm1hsa74m96c49ee7p3r</string>
	<key>API_KEY</key>
	<string>AIzaSyChyIJqGn6Apao-hpPpfa1tHyBbSrZixfg</string>
	<key>GCM_SENDER_ID</key>
	<string>260982386941</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.finalproj</string>
	<key>PROJECT_ID</key>
	<string>electionssystem-381414</string>
	<key>STORAGE_BUCKET</key>
	<string>electionssystem-381414.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:260982386941:ios:7a69991a6e6c90a39a8e94</string>
</dict>
</plist>